html{
    background: rgb(218, 204, 204);
    
}
.wrap .img{
    float:left;  
}

.heading{
font-size:50px;
font-family:sans-serif;   
color:rgb(66, 20, 66);
text-shadow:-4px 1px 0px rgb(224, 186, 186);
padding-left:300px;
letter-spacing: 2px;
}
.wrap ul a{
    
    font-size:18px;
    text-decoration:none;
    color:rgb(66, 20, 66);
    
}
.wrap li{
    padding-left:50px;
    padding-top:0px;
    display:inline;
}

 .wrap a:hover{
    text-decoration:underline;
    color:black;
    font-size:19px;   
}
.wrap{
  width:100%;
  max-width:none;
  background:lemonchiffon;
}
.container{
    position: relative;
    margin-top:50px;
    width:100%;  
    background-color:rgb(210, 231, 233);
}
.container{
    padding-top:10px;
}
.container h2{
    font-family:cursive;
    
}
.container p desc{
    line-height: 1px;
}
.container_12 .grid_4 a:hover{
    font-size:10px;
    text-decoration:underline;
    color:Black;
}
footer{
    width:100%;
    height:100px;
    float:bottom;
    padding-bottom: 0px;
   background-color:Black;   
   
}
footer ul a{
    text-decoration:none;
    padding-left:80px;
}
footer li {
    display:inline;
}
footer li a:hover{
  text-decoration:underline;
  color:white;
}
