/*html{
    background:lightcyan;
}
div{
    margin-left:12cm;
}

#ra{
    width:15cm;
    height:2cm;
    border: 1px solid black;
    }
    /* font-size: 2em; */


.wrap{
    width:50%;
    height:10%;
    margin:auto;
    background: solid red;
}
content{
    
    margin:auto;
    background-color:10px solid yellow;
    width:400px;
    float:left;
    
}
aside{
    margin:auto;
   width:120px;
    background:green;
}